body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

blockquote {
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

p.quote-attribution {
    font-weight: bold;
    text-align: right;
    margin: 0;
}

button {
    color: white;
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
    padding: 125px 550px;
    
}

.action {
    padding: 100px 400px;
}

.action-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 150px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 12px;
    color: #F9FAF8;
}